<!DOCTYPE html>
<html lang="en">
<head>
  <title>Go game GO Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="../img/game-logo.jpg"/>
  <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/logincss.css">
</head>
<body>

<div id="bg">
    <h2><a href="../index.html">Go Game GO</a></h2>
  <form class="container">
    <h1 class="name"> User Login</h1>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit" class="btn">Login</button>
  </form>
</div>


</body>
<footer>
    <div class="footer">
    <p>Team - artemis</p>
    </div>
    </footer>
</html>
