<!DOCTYPE html>
<html lang="en">
<head>
  <title>Go game GO Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="../img/game-logo.jpg"/>
  <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/logincss.css">
</head>
<body>
  
<div id="bg">
  <br/>
  &nbsp;&nbsp;<a  href="../index.html"><span style="font-size:35px;">Go games GO<span></a>
  <div class="wrap">
   
   
    
    
  


    <div id="slideshow">
      <div>
        <img src="../img/formpic.jpg" height="434px" width="644px">
      </div>
      <div>
        <img src="../img/formpic2.jpg" height="434px" width="644px">
      </div>
      <div>
        <img src="../img/formpic3.jpg" height="434px" width="644px">
      </div>
      <div>
        <img src="../img/formpic4.jpg" height="434px" width="644px">
      </div>
      <div>
        <img src="../img/formpic5.jpg" height="434px" width="644px">
      </div>
    </div>

    <form class="container">
    <h1 class="name"> User Login</h1>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit" class="btn">Login</button>
  </form>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $("#slideshow > div:gt(0)").hide();
  
  setInterval(function() { 
    $('#slideshow > div:first')
    .fadeOut(1000)
    .next()
    .fadeIn(1000)
    .end()
    .appendTo('#slideshow');
  }, 4000);
        </script>

</body>
<footer>
    <div class="footer">
    <p>Team - artemis</p>
    </div>
    </footer>
</html>
