*{
    font-family: 'Courier New', Courier, monospace;
}
body, html {
    height: 100%;
    margin: 0;
  }
  body{
    background-color:white;
}

.rating-part-left h1{
    font-size:30px;
    margin:0px;
    color: cadetblue;
}
.rating-part-left i{
    font-size:15px;
    padding:2px;
    color:orange;
}

.rating-part-right i,.product-rating-panel-right i{
    font-size: 10px;
    padding:6px 0px;
    color:orange;
}
.rating-part-right span{
    color:cadetblue;
    font-size:10px;
    padding-left: 5px;
}
.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
  }
  .reviewform{
    padding: 20px 10px;
    display: none;
    position:absolute;
    bottom: 10px;
    right: 50px;
    border: 3px solid whitesmoke;
    z-index: 9;
    background-color: whitesmoke;
  }
  
 .row{
    position: relative;
    right: 10px;

 }
 .gamepic{
     position: absolute;
     right: 250px;
     top: 80px;
    
 }
 .description{
     width: 800px;
     line-height: 2.0;
 }
 .description h3{
     color: cadetblue;

 }
 .reviewtitle {
    margin: 0;
    display: inline-block;
  }
  .addreview {
    float: right;
    margin-right: 80px;
    margin-top: -60px;
  }
  .rating {
	background: whitesmoke;
}

input[type="radio"] {
	position: fixed;
	top: 0;
	right: 100%;
}

label {
	font-size: 50px;
	padding: 1px;
	margin: 0;
	float: left;
	cursor: pointer;
	@include transition(0.2s);
}

input[type="radio"]:checked ~ input + label {
	background: none;
	color: gray;
}

input + label {
	color: orange;
}


